<nav class="navbar navbar-light bg-dark">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #e3f2fd;" href="/"> Saved Articles</a>
        </div>
        <form class="form-inline">
            <a href="/"> <button class="btn btn-sm btn-outline-secondary" style="color: #e3f2fd;"
                    type="button">Home</button></a>
            <a href="/saved"><button class="btn btn-sm btn-outline-secondary" style="color: #e3f2fd;"
                    type="button">Saved
                    Articles</button></a>
            <a href="/scrape"><button class="btn btn-sm btn-outline-secondary" style="color: #e3f2fd;"
                    type="button">Scrape New
                    Articles</button> </a>
        </form>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">Hacker News (news.ycombinator.com).</p>
    <hr class="my-4">
    <p> social news website focusing on computer science and entrepreneurship</p>

</div>
<div class="container-fluid">

</div>
<footer class="footer">
    <div class="container" style="color: #0b80d4;">
        <p>
            <b>Y Combinator News Scraper</b>
        </p>
    </div>

</footer>
{{!-- <script src="../public/assets/js/index.js"></script> --}}